<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.westlife.demo.mapper.UserMapper">
	<select id="queryList" resultType="com.westlife.demo.model.User">
		SELECT u.id, u.username, u.password, u.email, u.useable, u.addtime, u.logintime, u.loginip FROM t_user u
	</select>
	
	<select id="queryById" resultType="com.westlife.demo.model.User">
		SELECT u.id, u.username, u.password, u.email, u.useable, u.addtime, u.logintime, u.loginip FROM t_user u where u.id = #{id}
	</select>
	
	<insert id="save">
		insert into t_user(username, password, email, useable, addtime)
		values(#{username}, #{password}, #{email}, #{useable}, now())
	</insert>
	
	<update id="update">
		update t_user set password = #{password}, email = #{email}, useable = #{useable} where id = #{id}
	</update>
	
	<delete id="batchDelete">
		delete from t_user where id in
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- <delete id="delUsers">
		delete from t_user where id in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete> -->
</mapper>